.allyria1 {width:500px;padding:10px;background-color:#000;border:10px solid;border-image: linear-gradient(180deg, #b82fb8, black) 1;color:#eee;position:relative;z-index:1;}
.allyria2 {width:440px;text-align:justify;font-family:'Montserrat', sans-serif;font-size:12px;line-height:120%;}
.allyria2 b {color:#cc74cc;}
.allyria2::first-letter {font-family:Alex Brush;font-size:60px;color:#cc74cc;float:left;line-height:70%;margin-right:10px;}
.allyria3 {width:210px;height:100px;border:2px solid #b82fb8;}
.allyria4 {width:200px;height:90px;overflow:auto;padding:5px;border:2px solid #b82fb8;text-align:justify;vertical-align:center;color:#eee;font-family:Roboto Condensed;font-size:12px;line-height:100%;text-transform:uppercase;}
.allyria4 b {color:#b82fb8;}
.allyria4 i {font-size:15px;}
.allyria5 {width:100px;height:100px;border-radius:100%;background-image:url(https://i.postimg.cc/qqq7PPgM/dondarrion.png);border:5px solid #b82fb8;margin-bottom:-60px;position:relative;z-index:2;}
.allyrialyrics {width:350px;border-bottom: 2px solid transparent;border-image: linear-gradient(0.25turn, #2a2a2a, #b82fb8); border-image-slice: 1;margin-top:50px;margin-bottom:10px;}
